<!DOCTYPE html>
<html lang="en" ng-app='gurmeApp'>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gurme - keep your calories on track{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-carrot.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <script id="loadedRecipesJson" ng-model="loadedRecipesJson">
            var recipesJson = '{% block recipesJson %}{% endblock %}';
        </script>
        <script src="{{ asset('js/all.js') }}"></script>

        {# Chosen jQuery plugin #}
        <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
        <script src="{{ asset('chosen/chosen.ajaxaddition.jquery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('chosen/chosen.css') }}" />

        <style>
            .chosen-container{
                margin-bottom: 15px;
            }
            li.search-field input[type="text"]{
                height: 25px !important;
            }
        </style>

    </head>
    <body id='body' ng-controller='MainController' class="ng-cloak">
    <div id="wrap">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('index') }}">Gurme</a>
                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-left">
                         <li>
                             <a href="" ng-click="toggleCategoryDiv()">Categories&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a>
                         </li>
                    </ul>

                    {% render(controller('FOSUserBundle:Security:loginNav', { 'mode': 'homepage' })) %}


                    {# link'as į Mindaugo action'ą yra src/NFQAkademija/BaseBundle/Resources/views/security/loginNav.html.twig#}

                </div><!--/.navbar-collapse -->
            </div>
        </div>

        <div id="bg">
            <img style="display:block;  -webkit-filter: saturate(0.6); -webkit-filter: opacity(40%);" src="{{ asset('images/salad.jpg') }}">
        </div>

        {% block fos_user_content_error %}
        {% endblock %}

        <div id="main" class="container clear-top">
            {% block body %}

            <div id="categories" class="row row-transparentBg" style="">
                {% render(controller('GurmeMainBundle:FrontEnd:categoriesDiv')) %}
                    {#{% block categories %}#}
                    {#{% endblock categories %}#}
            </div>

            <div id="calorieInput">

                <div class="row top-row">
                    <div class="col-md-4" style="margin-top: 30px; height: 250px;">
                        <div class="transparentBg" style="height: 100%; padding: 15px; vertical-align: middle">
                            <div style="margin-top: auto; margin-bottom: auto">
                                <h3 style="margin-top: 10px; margin-bottom: 15px"><strong>How much calories do I need?</strong></h3>
                                <p style="font-size: 20px;">Find out your daily calorie menu for your personality and create your own menus with a help of Gurme staff.</p>
                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default" style="">Calculate</a>
                                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    or
                                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default" style="">Register</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="inputDiv" style="">
                        <div style="">
                            <p class="text-center" style="font-size: 26px">Maximum calories:</p>
                        </div>
                        <div style="display: table">
                            <div style="display: table-row">
                                <div style="display: table-cell">
                                    <input type="text" class="form-control" style="" id="calories" ng-model='calories' ui-keypress="{'enter':'loadRecipes($event);'}" value="500">

                                    {# ingredients select box (displayed when "Choose ingredients" button is clicked) #}
                                    <div id="ingredientsBlock" style="display: none">
                                        <p class="text-center" style="font-size: 26px">Ingredients:</p>
                                        <select data-placeholder="Your favorite ingredients" multiple class="chosen-select form-control" ng-change="ingredientInputChange()"></select>
                                    </div>

                                    <p><a class="btn btn-primary btn-lg" style="width:100%" role="button" ng-click='loadRecipes()' id="btnSearch">Search</a></p>

                                    {# content, hidden when "Choose ingredients" button is clicked #}
                                    <div id="orChooseIngredients">
                                        <p class="text-center" style="font-size: 26px">or</p>
                                        <p><a class="btn btn-default btn-lg" style="width:100%" role="button" onclick='displayIngredientsBlock()'>Choose ingredients</a></p>
                                    </div>

                                    {# content, displayed when no recipes were found #}
                                    <p class="text-center" id="no_recipes" style="font-size: 20px; display: none; color: red"><strong>We are sorry<br />No matching results were found</strong></p>
                                </div>
                                <div style="display: table-cell; padding-left: 10px; padding-top: 0px; margin-top: 0px; vertical-align: top;">
                                    <p class="certainCalorie"><a class="btn" role="button" onclick="caloriesLessThan(1000)">Any</a></p>
                                    <p class="certainCalorie"><a class="btn" role="button" onclick="caloriesLessThan(400)">< 400</a></p>
                                    <p class="certainCalorie"><a class="btn" role="button" onclick="caloriesLessThan(300)">< 300</a></p>
                                    <p class="certainCalorie"><a class="btn" role="button" onclick="caloriesLessThan(200)">< 200</a></p>
                                    <p class="certainCalorie"><a class="btn" role="button" onclick="caloriesLessThan(100)"><&nbsp;100</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"  style="margin-top: 30px; height: 250px;">
                        <div class="transparentBg" style="height: 100%; padding: 15px;">
                            <div style="margin-top: auto; margin-bottom: auto">
                                <h3 style="margin-top: 10px; margin-bottom: 15px"><strong>Random tip</strong></h3>
                                <p style="font-size: 20px;">
                                    {% block tips %}
                                    {% endblock tips %}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->

            <div class="row" id="loadingDiv">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="text-center">
                        <img class="transparentBg" style="padding: 20px; width: 200px; height: 200px" src="{{ asset('images/loading.gif') }}">
                    </p>
                </div>
            </div>

            <div id="recipesList">
                <div class="row">

                    <ng ng-repeat="recipe in recipes">

                        <a href="{% verbatim %}{{ recipe.link }}{% endverbatim %}">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" id="recipeBlock" style="margin-bottom: 10px;">

                                <div class="" style="height: 200px; background-size: cover; background-image: url({{ asset('') }}{% verbatim %}{{ recipe.url }}{% endverbatim %})">
                                    <div class="transparentBg" style="padding-bottom: 0px;">
                                        <p style="color: #000; font-size: 20px; padding: 5px; margin-bottom: 0px;">{% verbatim %}{{ recipe.name }}{% endverbatim %}</p>
                                    </div>
                                    <div class="calorieBadge">
                                        {% verbatim %}{{ recipe.calories }}{% endverbatim %} kcal
                                    </div>
                                </div>

                            </div>
                            <div class="{% verbatim %}{{ recipe.containerInsert }}{% endverbatim %}"></div>
                        </a>

                        {#<a href="recipe/{% verbatim %}{{ recipe.id }}{% endverbatim %}">#}
                            {#<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" id="recipeBlock">#}

                                {#<div class="panel panel-default">#}
                                    {#<div class="panel-heading">#}
                                        {#<h3 class="panel-title">{% verbatim %}{{ recipe.name }}{% endverbatim %}</h3>#}
                                    {#</div>#}
                                    {#<div class="panel-body" style="text-align: center">#}
                                        {#<div>#}
                                        {#<img ng-src="{{ asset('') }}{% verbatim %}{{ recipe.url }}{% endverbatim %}" alt="..." class="img-rounded" style="width: 100%;">#}
                                        {#<p class="calorieBadge">{% verbatim %}{{ recipe.calories }}{% endverbatim %} kcal</p>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}

                            {#</div>#}
                            {#<div class="{% verbatim %}{{ recipe.containerInsert }}{% endverbatim %}"></div>#}
                        {#</a>#}
                    </ng>

                </div>
            </div>
            {% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-white">&copy; Gurme 2014; Server message: {% verbatim %}{{ status }}{% endverbatim %}</p>
        </div>
    </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
