<!DOCTYPE html>
<html lang="en" ng-app='gurmeApp'>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gurme - keep your calories on track{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-carrot.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <script src="{{ asset('js/all.js') }}"></script>

        {# Chosen jQuery plugin #}
        <script src="{{ asset('chosen/chosen.jquery.js') }}"></script>
        <script src="{{ asset('chosen/chosen.ajaxaddition.jquery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('chosen/chosen.css') }}" />

        <style>
            .chosen-container{
                margin-bottom: 15px;
            }
            li.search-field input[type="text"]{
                height: 25px !important;
            }
        </style>

    </head>
    <body id='body' ng-controller='MainController' class="ng-cloak">
    <div id="wrap">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('index') }}">Gurme</a>
                </div>

                <div class="navbar-collapse collapse">

                    {% render(controller('FOSUserBundle:Security:loginNav', { 'mode': 'homepage' })) %}


                    {# link'as į Mindaugo action'ą yra src/NFQAkademija/BaseBundle/Resources/views/security/loginNav.html.twig#}

                </div><!--/.navbar-collapse -->
            </div>
        </div>

        <div id="bg">
            <img style="display:block;  -webkit-filter: saturate(0.6); -webkit-filter: opacity(40%);" src="{{ asset('images/salad.jpg') }}">
        </div>

        {% block fos_user_content_error %}
        {% endblock %}

        <div id="main" class="container clear-top">
            {% block body %}

            <div id="calorieInput">

                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4" id="inputDiv" style="margin-top:10%">
                        <p class="text-center" style="font-size: 26px">Maximum calories:</p>
                        <input type="text" class="form-control" style="height: 64px;
                            margin-bottom: 10px;
                            line-height: 30px;
                            padding: 11px 19px;
                            font-size: 40px; text-align:center" id="calories" ng-model='calories' ui-keypress="{'enter':'loadRecipes($event);'}" value="500">

                        {# ingredients select box (displayed when "Choose ingredients" button is clicked) #}
                        <div id="ingredientsBlock" style="display: none">
                            <p class="text-center" style="font-size: 26px">Ingredients:</p>
                            <select data-placeholder="Your favorite ingredients" multiple class="chosen-select form-control" ng-change="ingredientInputChange()"></select>
                        </div>

                        <p><a class="btn btn-primary btn-lg" style="width:100%" role="button" ng-click='loadRecipes()' id="btnSearch">Search</a></p>

                        {# content, hidden when "Choose ingredients" button is clicked #}
                        <div id="orChooseIngredients">
                            <p class="text-center" style="font-size: 26px">or</p>
                            <p><a class="btn btn-default btn-lg" style="width:100%" role="button" onclick='displayIngredientsBlock()'>Choose ingredients</a></p>
                        </div>

                        {# content, displayed when no recipes were found #}
                        <p class="text-center" id="no_recipes" style="font-size: 20px; display: none; color: red"><strong>We are sorry<br />No matching results were found</strong></p>

                        <p><a class="btn btn-primary btn-lg" style="width:100%" role="button" id="btnSearch" onclick="caloriesLessThan(400)"><400</a></p>
                        <p><a class="btn btn-primary btn-lg" style="width:100%" role="button" id="btnSearch" onclick="caloriesLessThan(300)"><300</a></p>
                        <p><a class="btn btn-primary btn-lg" style="width:100%" role="button" id="btnSearch" onclick="caloriesLessThan(200)"><200</a></p>
                        <p><a class="btn btn-primary btn-lg" style="width:100%" role="button" id="btnSearch" onclick="caloriesLessThan(100)"><100</a></p>

                    </div>
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                </div>
            </div> <!-- /container -->

            <div id="recipesList">
                <div class="row">

                    <ng ng-repeat="recipe in recipes">
                        <a href="recipe/{% verbatim %}{{ recipe.id }}{% endverbatim %}">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" id="recipeBlock">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{% verbatim %}{{ recipe.name }}{% endverbatim %}</h3>
                                    </div>
                                    <div class="panel-body" style="text-align: center">
                                        <div>
                                        <img src="{{ asset('') }}{% verbatim %}{{ recipe.url }}{% endverbatim %}" alt="..." class="img-rounded" style="width: 100%;">
                                        <p class="calorieBadge">{% verbatim %}{{ recipe.calories }}{% endverbatim %} kcal</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="{% verbatim %}{{ recipe.containerInsert }}{% endverbatim %}"></div>
                        </a>
                    </ng>

                </div>
            </div>
            {% endblock %}
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-white">&copy; Gurme 2014; Server message: {% verbatim %}{{ status }}{% endverbatim %}</p>
        </div>
    </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
