{% extends "::home.html.twig" %}

{% trans_default_domain 'NFQAkademijaUserBundle' %}

{% block body %}

<div id="calorieInput">

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" id="inputDiv">

            <h2>{{ 'Registration confirmed.'|trans({'%username%': user.username}) }}</h2>
            <p>{{ 'Please set your settings ' }} <a href="{{ path('index') }}">{{ 'here' }}</a></p>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
            {% endif %}

        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
</div>

{% endblock body %}
